{% for entreprise in entreprises %}
<tr>
    <td style="width: 70px; text-align: center">{{ forloop.counter }}</td>
    <td>{{ entreprise.nom }}</td>
    <td>{{ entreprise.sigle }}</td>
    <td>{{ entreprise.responsable }}</td>  
    <td>{{ entreprise.tel }}</td>
    <td>{{ entreprise.email }}</td> 
    <td>{{ entreprise.adresse }}</td>
    <td></td> 
    <td class="td-actions" style="width: 150px; text-align: center">
        <div>
            <button class="btn p-0 show-form-update" type="button" data-url="{% url 'entreprise_update' entreprise.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                <span class="text-500 fas fa-eye"></span>
            </button>&nbsp;
            <button class="btn p-0 show-form-update" type="button" data-url="{% url 'entreprise_update' entreprise.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                <span class="text-500 fas fa-edit"></span>
            </button>&nbsp;
            <button class="btn p-0 ms-2 show-form-delete" type="button" data-url="{% url 'entreprise_delete' entreprise.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete">
                <span class="text-500 fas fa-trash-alt"></span>
            </button>
        </div>
    </td>

</tr>
{% empty %}
<tr>
    <td colspan="8" class="text-center bg-info">Aucune entreprise enregistré</td>
</tr>
{% endfor %}